.container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 50%;
  width: 100%;
}

.container h1,
h2 {
  margin-bottom: 2rem;
}

.container a {
  display: inline-block;
  border: none;
  border-radius: 5px;
  background-color: var(--color-support-01);
  color: var(--color-white);
  padding: 0.5rem 0.8rem;
  font-weight: bold;
  width: fit-content;
}

@media (max-width: 420px) {
  .container {
    max-width: 80%;
  }
  .container h1,
  h2 {
    font-size: 1.2rem;
  }
}
